body {
  text-align: center;
  background-color: #c8eed9;
}

h1 {
  font-size: 2rem;
  color: #897853;
  font-family: 'Della Respira', serif;
  text-shadow: 3px 0 #f8f4e1;
}

.set {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.meow {
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
  outline: dotted;
  border: 10px solid #404B69;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 5px;
  background-color: white;
}

footer {
  position: flex;
  bottom: 0;
  width: 100%;
  color: #4e3620;
}
